/* You can add global styles to this file, and also import other style files */
@import "margins";

:root{
    --dark-color: #000000;
    --light-color: #ffffff;
    --primary-color: hsl(283, 83%, 72%);
    --gray-color: #5F646D;
    --dark-hover-color: #161616;
}

body{
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: 'Roboto', sans-serif;
}

.skill-tags{
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--light-color);
    display: inline;
    font-size: 12px;
    font-weight: 700;
    margin-right: 5px;
}

.btn{
    width: 50%;
    border: 1px solid var(--dark-color);
    background: var(--primary-color);
    color: var(--dark-color);
    padding: 18px 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 4px;

}

.btn-shadow{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: -4px;
        right: -4px;
        background-color: var(--gray-color);
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 4px;
    }
}


.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.h6{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
}

.tt-label{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: block;
}

.tt-input{
    width: 100%;
    margin-top: 8px;
    display: block;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    padding: 12px 0px;
    background: var(--dark-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    font-family: serif;

    color: var(--light-color);
}