:host{
    display: block;
    padding: 12px 20px;
}

.main-menu-list{
    display: grid;
    grid-gap: 8px;
    list-style: none;
}

.menu-item{
    padding: 16px 12px;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--light-color);
    display: grid;
    grid-template-columns: 26px 1fr max-content;
    grid-gap: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    width: 100%;
    text-align: left;
    border-radius: 2px;

    &:hover,
    &:focus-visible{
        background: var(--dark-hover-color);
        color: var(--primary-color);
    }
}

.to-subscibers{
    display: flex;
    gap: 10px;
    align-items: center;
}

.to-subscibers-link{
    color: var(--primary-color);
    text-decoration: none;
}