:host{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
    align-items: center;
    margin: 0 5%;
}

.password-input{
    position: relative;

}

.password-eye-btn{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: #FFFFFFBF;
    border: none;
    background: transparent;
    cursor: pointer;

}